h1,
h2,
h3,
ul,
li,
dt,
dd,
dl {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background-color: #faf6ed;
  color: #222222;
  display: grid;
  grid-template-columns: 1fr 120px minmax(18.75rem, 50rem) 1fr;
}
